UnitOfWorkPatternNet5/bin/
UnitOfWorkPatternNet5/bin/Debug/
UnitOfWorkPatternNet5/bin/Debug/net5.0/
UnitOfWorkPatternNet5/obj/
UnitOfWorkPatternNet5/obj/Debug/
UnitOfWorkPatternNet5/obj/Debug/net5.0/
UnitOfWorkPatternNet5/bin/Debug/net5.0/UnitOfWorkPatternNet5.deps.json
